!!!
%html
  %head
    %title Henry van Wagenberg
  %center
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{:href => "/favicon2000.ico", :rel => "icon", :type => "image/ico"}/
  %body
    = yield
    %center
      = image_tag "footerfull.png"



